*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/*---Header background--*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(../assets/galaxy-night-landscape.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color:#fff;
}

/*---Title--*/
.title{
    width: 100%;
    top: 50%;
    position: absolute;
    text-align: center;
}

.title h1{
    font-size: 62px; 
}

.title h4{
    margin: 10px 0 40px;
    font-size: 14px;
}


/*---Project Idea---*/
.idea {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 300px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    justify-content: space-between;
    background-color: #fff;
    width: 100%;
    max-width: 1500px;
    margin:  10px  10px 100px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    margin: 0px 30px;
    padding: 30px;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    text-align: center;
    transition: transform 0.6s ease;
    cursor: pointer;
}

/*--Info---*/
.space-debri{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 300px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

/*-Resources-*/
.resource{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 300px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

h3{
    font-size: 18px;
    font-weight: 300;
}

ul li{
    list-style: none;
    text-align: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 300;
}

/*--Developmenta--*/
.developments{
    width:80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 300px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

/*--Thanks--*/
.thanks{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    height: 300px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

/*----Footer---*/
footer{
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: black;
    background-size: cover;
    color: #fff;
    text-align: center;
    justify-content: center;
}