*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-image: url(../assets/satellite.jpg);
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    margin-bottom: 200px;
}

.team-section{
    width:80%;
}

.team-title h1{
    font-size: 50px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    position: relative;
}

.team-cards{
    display: flex;
    align-items: center;
    max-width: 1500px;
    width: 100%;
}

.team-card{
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue rgba(0,0,0,0.2);
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
    margin: 0px 15px;
    padding: 15px;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    text-align: center;
    transition: transform 0.6s ease;
    cursor: pointer;
}

.team-card:hover{
    transform: translateY(-12px);
}

.team-image img{
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit:cover;
    margin-bottom: 10px;
}

.team-detail h3{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin: 15px 0px;
}

.team-detial p{
    color:white;
    font-size: 18px;
}

.contact-button{
    display: inline;
    color:#a1a7c0;
    font-weight: bold;
    font-size: 12px;
    font-style: none;
    padding: 10px 15px;
    border: 2px solid #cfd4e7;
    border-radius: 5px;
    transition: all 250ms ease-in-out;
    text-decoration: none;
}

.contact-button:hover{
    background-color: #748dff;
    border: none;
    color:#fff;
    box-shadow: 0 10px 17px -7px #748dff;
}

.contact-button.active{
    background-color: #748dff;
    border:none;
    color:#fff;
    box-shadow:  0 10px 17px -7px #748dff;
}

@media screen and (max-width: 768px){
    body{
    background-color: black;
    background-size: cover;
    }
    .team-cards{
        display:flex;
        flex-direction: column;
    }
    .team-card{
        width:85%;
        margin:25px auto;
    }
}